/* You can add global styles to this file, and also import other style files */
:root {
    --background-color: black;
    --letter-color: white;
    --accent-color: #2ae4f1;
    --shadow-color: #E8E8E8;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: black;
    color: var(--letter-color);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    margin: 1rem;
}

a {
    color: var(--letter-color);
    text-decoration: none;
    list-style: none;
}

a:hover {
    color: var(--accent-color);
}

a:visited {
    color: var(--letter-color);
}