/* You can add global styles to this file, and also import other style files */
:root {
    --background-color: black;
    --letter-color: white;
    --accent-color: #2ae4f1;
    --shadow-color: #E8E8E8;
}

header {
    display: flexbox;
    outline: 2px solid green;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 1000;
    background-color: var(--background-color);
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: black;
    color: var(--letter-color);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#content {
    position: relative;
    display: flexbox;
    justify-content: center;
    top: 60px;
    /* Adjust this value to match the height of your header */
    /* Adjust this value to match the width of your sidebar */
    right: 0;
    bottom: 0;
    overflow-y: auto;
    z-index: 999;
    /* Ensure the content is above the sidebar */
}

h1 {
    padding-left: 1rem;
}

a {
    color: var(--letter-color);
    text-decoration: none;
    list-style: none;
}

a:hover {
    color: var(--accent-color);
}

a:visited {
    color: var(--letter-color);
}